### Applying regular expressions to extract date

In [1]:
datestr = '23-10-2002\n 23/9/96\n23/10/2002\n10/23/2002\n23 Oct 2002\n23 October 2002\n Oct 23, 2002\nOctober 23, 2002\n'

In [2]:
datestr

'23-10-2002\n 23/9/96\n23/10/2002\n10/23/2002\n23 Oct 2002\n23 October 2002\n Oct 23, 2002\nOctober 23, 2002\n'

In [3]:
#Have tried to represent different formats of date.

In [5]:
import re
#To extract date given in numerical form 
re.findall(r'\d{1,2}[-/]\d{1,2}[-/]\d{2,4}',datestr)

['23-10-2002', '23/9/96', '23/10/2002', '10/23/2002']

In [6]:
#Steps I followed to arrive at the regular expressions which extracts dates given as a combination of numbers and words

In [8]:
#It matches the entire string, but pulls out only what is there within the paranthesis
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',datestr)

['Oct']

In [9]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',datestr)

['23 Oct 2002']

In [10]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}',datestr)

['23 Oct 2002', '23 October 2002']

In [11]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}',datestr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']